body {
    background-color: #f5f8fb !important;
    font-family: sans-serif;
}

/* ------------------------------------------------------------- */
/* Navv */
.nav-link {
    color: #7C99B9 !important;
    width: 80px;
    font-family: Sans-Serif;
    font-size: 14px;
    text-align: center;
}

.navbar li a {
    cursor: pointer;
}

.navbar li a:hover {
    color: #1B6DC1 !important
}

.navbar-nav li .active { 
    font-weight: bold !important;
    color: #1B6DC1 !important
}

.navbar-nav div.nav-plus {
    background-color: white;
    width: 100px;
    font-size: 14px;
    padding-bottom: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    color: #1B6DC1;
    padding: 10px;
    border: 1px solid #1B6DC1;
    cursor: pointer;
}

.navbar-nav div.nav-plus:hover {
    background-color: #e3ebf4;
}

.navbar-nav div img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.navbar-nav div.connect {
    background-color: white;
    width: 100px;
    font-size: 14px;
    padding-bottom: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    color: #1B6DC1;
    padding: 10px;
    border: 1px solid #1B6DC1;
    cursor: pointer;
    border: none !important;
    text-align: center;
    width: 80px !important;
    background-color: #1B6DC1 !important;
    color: white;
}

.navbar-nav div.connect:hover {
    background-color: #06498c !important;
}

.nav-plus div.money {
    padding-left: 10px;
}


