body {
    background-color: #f5f8fb !important;
    font-family: sans-serif;
}

/* ------------------------------------------------------------- */
/* Navv */
.nav-link {
    color: #7C99B9 !important;
    width: 80px;
    font-family: Sans-Serif;
    font-size: 14px;
    text-align: center;
}

.navbar li a {
    cursor: pointer;
}

.navbar li a:hover {
    color: #1B6DC1 !important
}

.navbar-nav li .active { 
    font-weight: bold !important;
    color: #1B6DC1 !important
}

.navbar-nav div.nav-plus {
    background-color: white;
    width: 100px;
    font-size: 14px;
    padding-bottom: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    color: #1B6DC1;
    padding: 10px;
    border: 1px solid #1B6DC1;
    cursor: pointer;
}

.navbar-nav div.nav-plus:hover {
    background-color: #e3ebf4;
}

.navbar-nav div img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.navbar-nav div.connect {
    background-color: white;
    width: 100px;
    font-size: 14px;
    padding-bottom: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    color: #1B6DC1;
    padding: 10px;
    border: 1px solid #1B6DC1;
    cursor: pointer;
    border: none !important;
    text-align: center;
    width: 80px !important;
    background-color: #1B6DC1 !important;
    color: white;
}

.navbar-nav div.connect:hover {
    background-color: #06498c !important;
}

.nav-plus div.money {
    padding-left: 10px;
}


/* ------------------------------------------------------------- */
/* Main Content */
.container {
    padding-top: 40px;
    text-align: center !important
}

.container .body-container {
    border-radius: 30px;
    text-align: center;
    width: 436px;
    height: auto;
    background-color: white;
}

/* ------------------------------Header Content------------------------ */
.content-header {
    padding: 30px 10px 0px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-header .content-header-text {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
}

.content-header-icon {
    padding-top: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content-header-icon div {
    width: 48px;
    height: 48px;
}
.content-header-icon div span {
    color: #1B6DC1 !important;
    cursor: pointer;
}
.content-header-icon div span:hover {
    color: #7C99B9 !important;
}

/* ------------------------------Body Content------------------------ */
.content-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-body div {
    border-radius: 20px;
    width: 90%;
    background-color: #f5f8fb;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.content-body div .tranfer-label {
    /* font-weight: bold; */
    font-size: 14px;
    padding: 10px;
}

.content-body div div input {
    margin: 10px;
    border-style: none;
    background-color: #f5f8fb;
    padding-right: 40px;
}

.content-body div div input:focus {
    /* font-weight: bold; */
    outline: none;
}

.content-body div .tranfer-content {
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: spa;
    align-items: center;
}

.content-body div .tranfer-content img {
    width: 24px;
    height: 24px;
}

.content-body .tranfer-selector {
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    flex-wrap: initial;
    cursor: pointer;
}

.content-body .tranfer-selector:hover {
    background-color: #e3ebf4;
}


.content-body span.tranfer-icon {
    padding: 10px 0 10px 0;
    cursor: pointer;
}

.content-body span.tranfer-icon div {
    position: relative;
    border-radius: 100%;
    width: 36px;
    height: 36px;
    background-color: #f5f8fb;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1B6DC1;
}

.content-body span.tranfer-icon div i {
    padding-bottom: 2px;
}

.content-body button {
    background-color: #1B6DC1 !important;
    width: 90%;
    border-radius: 30px;
    height: 50px;
    margin-bottom: 20px;
}



