/* ------------------------------------------------------------- */
/* Main Content */
.container {
    padding-top: 40px;
    text-align: center !important
}

.container .body-container {
    border-radius: 30px;
    text-align: center;
    width: 436px;
    height: auto;
    background-color: white;
}

/* ------------------------------Header Content------------------------ */
.content-header {
    padding: 30px 10px 0px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.content-header .content-header-text {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content-header-icon {
    padding-top: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content-header-icon div {
    width: 48px;
    height: 48px;
}
.content-header-icon div span {
    color: #1B6DC1 !important;
    cursor: pointer;
}
.content-header-icon div span:hover {
    color: #7C99B9 !important;
}

.content-header-subtext {
    font-size: 14px;
    font-weight: normal !important;
    color: #7C99B9;
    text-align: start;
}

.add-liquidity-btn {
    width: 90%;
    border-radius: 40px;
    background-color: #1B6DC1 !important;
    height: 60px;
    margin-top: 20px;
}

/* ------------------------------Body Content------------------------ */
.content-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content-body-header {
    display: flex;
    flex-direction: rows;
    justify-content: space-between;
    margin-bottom: 20px;
}

.content-body-header .header-icon {
    color: #7C99B9;
}

.content-body .content-body-main {
    background-color: #FAF9FA;
    padding: 40px;
    margin-bottom: 20px;
    border-radius: 20px;
    color: #BDC2C4;
}